main{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}
.wrapper {
    margin-top: 100px;
    display: flex;
    overflow: hidden;
    max-width: 1440px;
    width: 90%;
}
.content {
    padding: 40px;
    flex: 1;
}
.top-sobre-mi {
    font-size: 48px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    transition: all 0.3s ease;
}
.top-sobre-mi:hover{
    color: #eba50f;
}
.bottom-sobre-mi {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 48px;
    margin-bottom: 30px;
    color: white;
    transition: all 0.3s ease;
}
.bottom-sobre-mi:hover{
    color: #eba50f;
}
.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 50px 0;
}
.right-img {
    max-width: 70%;
    height: auto;
    display: block;
    border-radius: 20px;
}
@media (max-width: 750px) {
    .wrapper {
        flex-direction: column;
    }
    
    .image-container {
        order: 1;
        height: 250px;
    }
}

/* ########## SOBRE MI ########## */
.center-margin{
    display: flex;
    justify-content: center;
    margin: 100px 0 0 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 36px;
    transition: all 0.3s ease;
}
.center:hover{
    color: #eba50f;
}
.space-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    max-width: 1200px;
    margin: 30px auto;
}
.wrapper-description {
    max-width: 1000px;
    padding: 0 20px 20px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
/* Estilos responsivos */
@media (max-width: 768px) {
    .wrapper-sobre-mi{
        padding: 0 30px;
    }
    .description{
        font-size: 16px
    }
}
.description {
    line-height: 1.6;
    font-size: 18px;
}
.description p {
    text-align: justify;
}

/* ########## CARDS ########## */
.chart-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    max-width: 1000px;
    margin: 30px auto;
    gap: 15px;
}
.chart-card {
    background-color: #dbdbdb;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    width: 100%;
    max-width: 220px;
    transition: transform 0.3s;
    position: relative;
    padding: 4px;
    transition: all 0.3s ease;
}
.chart-card:hover {
    transform: scale(1.03);
    background-color: #eba50f;
}
.chart-image {
    width: 100%;
    height: 100% auto;
    display: block;
    border-radius: 25px;
    
}
.chart-image:hover{
    transform: scale(1.03);
}
